@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: black;
  color: white;
}

.textOutline {
  color: white;
  -webkit-text-stroke: 2px black;
}

.navbar-close {
  transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  &::before {
    transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  }
}

*::-webkit-scrollbar {
  display: none;
}
